<div>
  <p class="info-form">Select the tests to which the patient will have access:</p>
  <section class="example-section">
          <span class="example-list-section">
            <ul>
              <li *ngFor="let test of testCheckboxesSelector">
                <mat-checkbox (change)="changeCheckbox(test)">
                  <div class="checkbox-label-style">
                    <p>{{test.nameEN}}</p>
                    <mat-icon class="icon-selected-test">{{test.icon}}</mat-icon>
                  </div>
                </mat-checkbox>
              </li>
            </ul>
          </span>
  </section>
  <div class="button-add-patient-position">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-raised-button matStepperNext (click)="onSelectedTestsChange()">Next</button>
  </div>
</div>
