<mat-toolbar class="header">
    <a class="logo">
      <img alt="ParkinsonTestCenter" class="smaller" src="../../../assets/images/logo.svg" (click)="goToBrowserPatient()">
    </a>
    <div class="main-nav">
      <div class="hello-banner" *ngIf="!!(token$ | async)">
        <span>Welcome, {{user?.name}}!</span>
        <button class="circle" [matMenuTriggerFor]="infoMenu">{{logoUser}}</button>
        <mat-menu #infoMenu="matMenu" xPosition="before" >
          <button mat-menu-item  (click)="allPatientInfo()" *ngIf="!isAdmin">
            <mat-icon>person</mat-icon>
            <span class="menu-text">Patients</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span class="menu-text">Log out</span>
          </button>
        </mat-menu>

      </div>

      <div class="header-button" *ngIf="!(token$ | async)">
        <button mat-button (click)="login()"  class="no-hover-effect">Logging</button>
        <button mat-raised-button (click)="register()">Registration</button>
      </div>

    </div>
</mat-toolbar>
