@import "src/assets/styles/styles";

.container-browser {
  display: flex;
  margin-top: $margin-xl;
  width: 1200px;
  justify-content: center;
  padding: $padding-xl;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.tittle-browser {
  font-size: $font-size-xl;
  color: $blue;
  margin: 0 0 $margin-xl;
  @include roboto-bold
}

.add-icon{
  color: $white;
}

button.mat-mdc-raised-button {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: $font-size-m;

  @include rubik-regular()
}

mat-raised-button {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: $font-size-m;

  @include rubik-regular()
}

.add-icon {
  color: $white;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-patient {
  width: 700px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $padding-s;
}

.search-input {
  border: none;
  width: 80%;
  height: 90%;
  outline: none;
}
input {
  color: $blue;
  font-size: $font-size-m;
}

.search-icon {
  color: $blue;
  margin-right: $margin-s;
}

.search-info{
  color: $blue;
  align-self: flex-start;
  margin-left: $margin-s;
  margin-bottom: $margin-s;
}

mat-table{
  box-shadow: none;
  @include default-shadow()
}

.table {
  width: 100%;
  height: 20px;
  margin-top: $margin-l;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

mat-header-cell {
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px
}

mat-table {
  padding: 16px;
}

mat-cell {
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-remove-doctor {
  width: 100%;
  font-size: $font-size-l;
  background-color: #ff7871;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  padding: 5px;
}

//button.mat-mdc-raised-button {
//  padding-inline: 50px;
//  height: 50px;
//  border-radius: 20px;
//  font-size: $font-size-l;
//  @include rubik-medium()
//}
