@import "src/assets/styles/styles";

.patient-info-box{
  display: flex;
  flex-direction: column;
  padding: $padding-l $padding-xl;
  justify-content: center;
}

.title-patient {
  font-size: $font-size-xl;
  color: $blue;
  margin-bottom: $margin-l;
  align-self: center;
  @include roboto-bold
}

.subtitle-patient {
  font-size: $font-size-l ;
  font-weight: lighter;
  color: $blue;
  margin: 0;
}

.patient-information-section {
  margin: 20px 0 30px 0;
}

.patient-information-element {
  display: flex;
}

.patient-information-element-title {
  margin-right: 5px;
  font-weight: lighter;
}

.patient-information-element-value {
  margin-right: 5px;
  color: $blue;
}
