<mat-accordion>

<!--  &lt;!&ndash;  tabela z danymi&ndash;&gt;-->
<!--  <mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                       (closed)="panelOpenState = false">-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Tabela z analizą danych-->
<!--      </mat-panel-title>-->
<!--    </mat-expansion-panel-header>-->
<!--    <app-data-tabel [data]="histogramData"></app-data-tabel>-->
<!--  </mat-expansion-panel>-->

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular velocity on the x,y,z axes and length of the angular velocity vector (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-mean-tremor-by-day [tremorData]="tremorData" ></app-mean-tremor-by-day>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Boxplot of angular velocities on the x,y,z axes and length of the angular velocity vector (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-boxplot-tremor [tremorData]="tremorData" ></app-boxplot-tremor>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Histogram of angular velocities on the x,y,z axes and length of the angular velocity vector (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-histogram-tremor [tremorData]="tremorData" ></app-histogram-tremor>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Probability density function of angular velocities on the x,y,z axes and length of the angular velocity vector (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-kde-tremor [tremorData]="tremorData" ></app-kde-tremor>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Values deviating from the average - angular velocity on the x,y,z (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-outliers-tremor-mean [tremorData]="tremorData" ></app-outliers-tremor-mean>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Histogram of values deviating from the average - angular velocity on the x,y,z (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-outliers-tremor-histogram [tremorData]="tremorData" ></app-outliers-tremor-histogram>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Boxplot of values deviating from the average - angular velocity on the x,y,z (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-outliers-tremor-boxplot [tremorData]="tremorData" ></app-outliers-tremor-boxplot>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Probability density function of values deviating from the average - angular velocity on the x,y,z (average of days)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-outliers-tremor-kde [tremorData]="tremorData" ></app-outliers-tremor-kde>
  </mat-expansion-panel>
</mat-accordion>
