@import "src/assets/styles/styles";

.stepper-title {
  margin: 0;
  text-align: center;
}

.add-new-patient-dialog{
  padding: $padding-xl $padding-xl;
}

.title-patient-form {
  font-size: $font-size-xl;
  color: $blue;
  @include roboto-bold
}

//button.mat-mdc-raised-button {
//  padding-inline: 50px;
//  height: 50px;
//  border-radius: 20px;
//  font-size: $font-size-l;
//  @include rubik-medium()
//}

//
//
//button.mat-mdc-raised-button {
//  width: 250px;
//  height: 40px;
//  border-radius: 20px;
//  font-size: $font-size-m;
//
//  @include rubik-regular()
//}
//
//button.mat-mdc-button {
//  width: 150px;
//  height: 40px;
//  border-radius: 20px;
//  font-size: $font-size-m;
//
//  @include rubik-regular()
//}
//
//mat-error.mat-mdc-form-field-error {
//  font-size: 12px;
//}
//
//mat-stepper.mat-step-icon-state-edit {
//  background-color: $blue;
//}
//
//.checkbox-label-style {
//  display: flex;
//  align-items: center;
//}
//
//.example-section {
//  margin: 12px 0;
//}
//
//.example-margin {
//  margin: 0 12px;
//}
//
//ul {
//  list-style-type: none;
//  margin-top: 4px;
//}
//
//.mat-mdc-icon-button {
//  color: $blue;
//}
//
//.button-add-patient-position {
//  display: flex;
//  justify-content: flex-end;
//}
//
//.subtitle-patient {
//  font-size: $font-size-l ;
//  font-weight: lighter;
//  color: $blue;
//  margin: 0;
//}
//
//.patient-information-section {
//  margin: 20px 0 30px 0;
//}
//
//.patient-information-element {
//  display: flex;
//}
//
//.patient-information-element-title {
//  margin-right: 5px;
//  font-weight: lighter;
//}
//
//.patient-information-element-value {
//  margin-right: 5px;
//  color: $blue;
//}
//
//.selected-test-for-patient {
//  display: flex;
//  align-items: center;
//  margin-left: 15px;
//  margin-top: 5px;
//  &:last-of-type{
//    margin-bottom: 20px;
//  }
//}
//
//.icon-selected-test {
//  color: #2B255A;
//  margin-left: 10px;
//}
//
//::ng-deep .mat-horizontal-content-container {
//  padding: 0 !important;
//}
