<mat-accordion>

<!--  tabela z danymi-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Data analysis table
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-data-tabel [data]="histogramData"></app-data-tabel>
  </mat-expansion-panel>

<!--  histogram-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Histograms
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-histogram [histogramData]="histogramData" ></app-histogram>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Box charts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-box-plot [data]="histogramData"></app-box-plot>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Violin charts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-violin [data]="histogramData"></app-violin>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Probability density function
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-density [data]="histogramData"></app-density>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Arithmetic averages of the survey
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-mean-plot [data]="histogramData"></app-mean-plot>
  </mat-expansion-panel>

</mat-accordion>
