<mat-accordion>

<!--  tabela z danymi-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tabela z analizą danych
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-data-tabel [data]="tableData"></app-data-tabel>
  </mat-expansion-panel>

<!--  histogram-->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Histogramy
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-histogram [histogramData]="histogramData" ></app-histogram>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wykresy pudełkowe
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-box-plot [data]="histogramData"></app-box-plot>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Funkcja gęstości prawdopodbieństwa
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Średnia arytmetyczne z danego badania
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        CCDF
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

</mat-accordion>
