<div class="card-position">
  <div class="mat-card-default">
    <h2 class="title-form">Welcome back!</h2>
    <p class="info-form">Please enter your login details:</p>
    <div class="container-form-group">

      <form [formGroup]="loginFormGroup" (ngSubmit)="submitForm()">
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email"  required>
            <mat-error *ngIf="!isControlValid('email')">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="!isControlValid('password')">{{getErrorMessage('password')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="button-position">
          <button mat-raised-button type="submit">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>
