<div class="result-container">
  <h3 class="title-patient-form">Analizowane dane</h3>
  <div class="filter-container">
    <p class="results-info">Filtry testu:</p>
    <div class="filter-row">
      <div class="mat-fields">
        <mat-form-field appearance="outline">
          <mat-label>Rodzaj testu</mat-label>
          <mat-select [(ngModel)]="selectedTest" name="test">
            <mat-option *ngFor="let test of selectedPatient.patientTests" [value]="test.uid">
              {{test.namePL}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Okres czasu</mat-label>
          <mat-select [(ngModel)]="selectedTimeRange" name="test">
            <mat-option *ngFor="let time of timeRanges" [value]="time">
              {{time}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button (click)="getAnalysisData()"
              [disabled]="!(!!selectedTest && !!selectedTimeRange)">
        Zagreguj dane
      </button>

    </div>

    <div class="show-results" *ngIf="showTable">
      <p class="results-info">Wyniki analizy testów:</p>
      <div *ngIf="selectedTest ==='FINGER_TAPPING'">
        <app-analysis-finger-tapping [histogramData]="fingerTappindData"></app-analysis-finger-tapping>
      </div>
      <div *ngIf="showGyroscopeAnalysis">
        <app-analysis-gyroscope [tremorData]="tremorData"></app-analysis-gyroscope>
      </div>
    </div>
    <div *ngIf="!showTable">
      <p class="results-info">Dla wybranego zakresu pacjent nie ma wyników</p>
    </div>



  </div>
</div>
