<div class="result-container">
  <h3 class="title-patient-form">Data analysed</h3>
  <div class="filter-container">
    <p class="results-info">Test filters:</p>
    <div class="filter-row">
      <div class="mat-fields">
        <mat-form-field appearance="outline">
          <mat-label>Type of test</mat-label>
          <mat-select [(ngModel)]="selectedTest" name="test">
            <mat-option *ngFor="let test of selectedPatient.patientTests" [value]="test.uid">
              {{test.nameEN}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Time period</mat-label>
          <mat-select [(ngModel)]="selectedTimeRange" name="test">
            <mat-option *ngFor="let time of timeRanges" [value]="time">
              {{time}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button (click)="getAnalysisData()"
              [disabled]="!(!!selectedTest && !!selectedTimeRange)">
        Aggregate data
      </button>

    </div>

    <div class="show-results" *ngIf="showTable">
      <p class="results-info">Test analysis results:</p>
      <div *ngIf="showFingerTapping">
        <app-analysis-finger-tapping [histogramData]="fingerTappindData"></app-analysis-finger-tapping>
      </div>
      <div *ngIf="showGyroscopeAnalysis">
        <app-analysis-gyroscope [tremorData]="tremorData"></app-analysis-gyroscope>
      </div>
    </div>
    <div *ngIf="!showTable">
      <p class="results-info">For the selected range the patient has no results</p>
    </div>



  </div>
</div>
