@import "src/assets/styles/styles";

.patient-info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-l $padding-xl;
  justify-content: center;
}

.title-patient-form {
  font-size: $font-size-xl;
  color: $blue;
  margin-bottom: $margin-l;
  @include roboto-bold
}

button.mat-mdc-raised-button {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: $font-size-l;
  @include rubik-medium()
}

button.mat-mdc-raised-button.mat-warn {
  background: #f44336 !important;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: $font-size-l;
  @include rubik-medium()
}

button.mat-mdc-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: $font-size-m;

  @include rubik-regular()
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.mat-mdc-icon-button {
  color: $blue;
}

.button-position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: $margin-l;
}
