@import "src/assets/styles/styles";

mat-header-cell {
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px
}

mat-table {
  box-shadow: none;
  @include default-shadow()
}

mat-cell {
  padding-top: 16px;
  padding-bottom: 16px;
}

.title-period {
  font-weight: 600;
  text-align: center;
}

.period-section {
  margin-top: 25px;
}
