<div class="container-browser">
  <h2 class="tittle-browser">Wszyscy Twoi pacjenci:</h2>

  <p class="search-info">Wyszukaj pacjenta</p>
  <div class="row">
    <div class="search-patient">
      <input placeholder="Wprowadź imię lub nazwisko pacjenta" class="search-input">
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <button mat-raised-button>
      Dodaj nowego pacjenta
      <mat-icon class="add-icon">add_circle</mat-icon>
    </button>
  </div>

  <div class="table">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="position" sticky>
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef> Imię i nazwisko </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="patientTests">
        <mat-header-cell *matHeaderCellDef> Testy </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngFor="let test of element.patientTests;">
            <mat-icon [matTooltip]="test.name" [matTooltipPosition]="'above'">{{test.icon}}</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details" stickyEnd class="">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          Sprawdź szczegóły
          <mat-icon>more_vert</mat-icon>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        (click)="showPatientDetails(row)"
        *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

<!--    <mat-paginator [length]="40" [pageSize]="5" aria-label="Select page of GitHub search results"></mat-paginator>-->

  </div>



</div>
