<div *ngIf="patientDataSummary">
  <p>Sprawdź wprowadzone dane i zarejestruj pacjenta</p>
  <div class="patient-information-section">
    <div class="patient-information-element">
      <p class="patient-information-element-title">Imię:</p>
      <p class="patient-information-element-value">{{patientDataSummary.name}}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="patient-information-element">
      <p class="patient-information-element-title">Nazwisko:</p>
      <p class="patient-information-element-value">{{patientDataSummary.surname}}</p>
    </div>
    <mat-divider></mat-divider>
    <div class="patient-information-element">
      <p class="patient-information-element-title">Email:</p>
      <p class="patient-information-element-value">{{patientDataSummary.email}}</p>
    </div>
    <mat-divider></mat-divider>
  </div>
  <p>Wybrane testy:</p>
  <div *ngFor="let test of patientDataSummary.patientTests">
    <div class="selected-test-for-patient">
      <span>{{test.namePL}}</span>
      <mat-icon class="icon-selected-test">{{test.icon}}</mat-icon>
    </div>
  </div>
  <section class="control-group-section">
    <p class="control-group">Zaznacz, jeśli pacjent należy do grupy kontrolnej:</p>
    <mat-checkbox [(ngModel)]="controlGroup">Grupa kontrolna</mat-checkbox>
  </section>

  <div class="button-add-patient-position">
    <button mat-button matStepperPrevious>Wstecz</button>
    <button mat-raised-button (click)="submitForm()">Zarejestruj</button>
  </div>
</div>
