<div class="information-section">
  <h2 class="subtitle">Podstawowe informacje</h2>

  <div class="information-element">
    <p class="information-element-title">Imię:</p>
    <p class="information-element-value">{{patient.name}}</p>
  </div>

  <mat-divider></mat-divider>

  <div class="information-element">
    <p class="information-element-title">Nazwisko:</p>
    <p class="information-element-value">{{patient.surname}}</p>
  </div>

  <mat-divider></mat-divider>

  <div class="information-element">
    <p class="information-element-title">Email:</p>
    <p class="information-element-value">{{patient.email}}</p>
  </div>

  <mat-divider></mat-divider>

</div>
