$margin-s: 12px;
$margin-m: 16px;
$margin-l: 24px;
$margin-xl: 32px;

$padding-s: 12px;
$padding-m: 16px;
$padding-l: 24px;
$padding-xl: 48px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-h2: 40px;
